body{
    font-size: 1.5vw;
}

article{
    width: 30vw;
    /* height: 45vh; */
    background-color: rgb(31,38,48);
    padding: 2vw;
    margin: 5%;
    border-radius: 15px;
}
img{
    margin: 1vw 0;
}
#paragraph{
    color: rgb(217,221,227);
    width: 99%;
    margin-bottom: 3vw;
}
#heading{
    color: rgb(217,221,227);
}
#submitting{
    width: 100%;
    height: 3vw;
    border-radius: 20px;
    border: none;
    background-color: #ef7421;
    color: white;
    font-size: 1.5vw;
    margin: 2vw 0;
    /* margin: 0 5%; */
}
.btn{
    background-color:#242D37;
    transition: transform 300ms ease;
}
.btn:hover{
    cursor: pointer;
    background-color: #7C8899;
    transform: scale(1.5);
}
.btn:focus{
    background-color: #EF7321;
    
}